<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container p-5">
                <h1>Formulário de Consulta</h1>
                <form action="/dados" method="post">
                    <!-- Seção de dados pessoais -->
                    <h2>Dados Pessoais</h2>
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" required>
                    </div>
                    <div class="mb-3">
                        <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
                    </div>
                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" required>
                    </div>
                    <div class="mb-3">
                        <label for="uf" class="form-label">UF</label>
                        <select class="form-select" id="uf" name="uf" required>
                            <option value="">Selecione uma UF</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espirito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="PR">Paraná</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SE">Sergipe</option>
                            <option value="SP" >São Paulo</option>
                            <option value="TO">Tocantins</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="cep" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="cep" name="cep" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="tel" class="form-control" id="telefone" name="telefone" required>
                    </div>

            <!-- Seção de dados da consulta -->
            <h2>Dados da Consulta</h2>
            <div class="mb-3">
                <label for="especialidade" class="form-label">Especialidade Médica</label>
                <select class="form-select" id="especialidade" name="especialidade" required>
                    <option value="">Selecione uma especialidade</option>
                    <option value="cardiologia">Cardiologia</option>
                    <option value="dermatologia">Dermatologia</option>
                    <option value="ginecologia">Ginecologista</option>
                    <option value="ortopedia">Ortopedia</option>
                    <option value="endocrinologia">Endocrinologia</option>
                    <option value="infectologia">Infectologia</option>
                    <option value="neurologia">Neurologia</option>
                    <option value="oftalmologia">Oftalmologia</option>
                    <option value="otorrinolaringologia">Otorrinolaringologia</option>
                    <option value="pediatria">Pediatria</option>
                    <option value="pneumologia">Pneumologia</option>
                    <option value="psiquiatria">Psiquiatria</option>
                    <option value="reumatologia">Reumatologia</option>
                    <option value="radioterapia">Radioterapia</option>
                    <option value="urologia">Urologia</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="dataConsulta" class="form-label">Data da Consulta</label>
                <input type="date" class="form-control" id="dataConsulta" name="dataConsulta" required>
            </div>
            <div class="mb-3">
                <label for="horaConsulta" class="form-label">Hora da Consulta</label>
                <input type="time" class="form-control" id="horaConsulta" name="horaConsulta" required>
            </div>
            <div class="mb-3">
                <label for="medicamentosAlergicos" class="form-label">Medicamentos Alergicos</label>
                <select class="form-select" id="medicamentosAlergicos" name="medicamentosAlergicos" multiple>
                    <option value="antibioticos">Antibióticos</option>
                    <option value="antiinflamatorios">Anti-inflamatórios</option>
                    <option value="anestesicos">Anestésicos</option>
                    <option value="soro">Soro</option>
                    <option value="outros">Outros</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="informacoesAdicionais" class="form-label">Informações Adicionais</label>
                <textarea class="form-control" id="informacoesAdicionais" name="informacoesAdicionais" rows="4"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>
